.qrcode-view {
  background-color:#e8e8e8;

  .qrcode-view-image-contain {
    display: flex;
    justify-content: center;
    align-items: center;

    .qrcode-view-image {
      height: 320px;
      width: 280px;
      padding: 20px;
    }
  }

  .qrcode-view-over-flow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }

  .qrcode-desc {
    font-size: 24px;
    color:#8c8c8c;
    padding: 5px 10px;
  }

  .qrcode-name {
    font-size: 30px;
    color:#262626;
    background-color: #fafafa;
    padding-top:10px;
  }

  .qrcode-view-edit-main {
    border-top: 1px solid #f5f5f5;
  }

  .qrcode-view-edit {
    justify-content: center;
    display:flex;
    padding: 5px 0;
  }
}